@charset "UTF-8";

#board>div{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

/* head 설정 */
.header{
	display: flex;
	align-items: center;
	justify-content: space-around;

	height: 40px;
	width: 100%;

}
.header>div{
	display: inline-flex;
	align-items: center;
	justify-content: center;

	height:100%;
	flex: 10;

	cursor:pointer;

	border-bottom:1px solid black;
}
.header>div.active{
	border:1px solid black;
	border-bottom-width: 0; 
}

/*pool설정*/
.pool{
	min-height: 300px;
	width: 100%;
}