@charset "UTF-8";
@import url("/null/Content/configuration/font/fonts.css");

.body#product_info{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items:flex-start;
	justify-content:flex-end;
	
	position:relative;
	
	height: auto; 

	box-sizing: border-box;
}
.body#board{
}

