<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shoes.ProductMapper">
	<!-- keyset 구현 -->
	<select id="keyset" resultType="hashmap" parameterType="hashmap">
		select * from  
		<foreach collection="TABLES" item="TABLE" separator=",">
			${TABLE}	
		</foreach>
		where rownum = 1
	</select>
	<!-- Products_info list-->
	<select id="getCategory" parameterType="hashmap" resultType="string">
		select	distinct ${HEAD} from
		<foreach collection="TABLES" item="TABLE" separator=",">
			${TABLE}	
		</foreach> 
	</select>
	
	<!-- 	개별 상품 정보 -->
	<select id="selectProduct_info" parameterType="hashmap" resultType="hashmap">
		select scode, s.pcode pcode, psize, pcolor, pprice, pamount, deliverfee_yn
		from product p,stock s
		where p.pcode = s.pcode
		and p.pcode = #{PCODE}
		<if test="PCOLOR!=null">and pcolor = #{PCOLOR}</if>
		<if test="PSIZE!=null">and psize = #{PSIZE}</if>
		<if test="SCODE!=null">and scode = #{SCODE}</if>
		order by pcolor,psize
	</select>
	
	
	<!-- 상품 검색 리스트 -->
	<select id="selectProductList" parameterType="hashmap" resultType="hashmap">
		select p.pcode pcode,   styletop, stylemid, stylebot, pname, pimage, pregitdate, m.pPrice min_price , nvl(searchedCnt,0) popularity
		from product p, stock s , (select pCode,min(pPrice) pPrice
								   				from stock
								   				group by pCode) m, searchedWord w
		where p.pcode = s.pcode and s.pcode = m.pcode and p.pname = w.sword(+)
			<if test="STYLEMID!=null">and styleMid in
			 	<foreach collection="STYLEMID" item="item" open="(" close=")"  separator=",">
			 		#{item}	
			 	</foreach>
			 </if>
			<if test="STYLEBOT!=null">and styleBot in
			 	<foreach collection="STYLEBOT" item="item" open="(" close=")"  separator=",">
			 		#{item}	
			 	</foreach>
			 </if>
			<if test="PNAME!=null">and 
				<foreach collection="PNAME" item="item"  separator="or">
			 		pName like '%'||#{item}||'%'	
			 	</foreach>
			</if>
			<if test="PSIZE!=null">and pSize 
				<choose>
					<when test="PSIZE.size==1"> =
			 			<foreach collection="PSIZE" item="item" >
			 				#{item}	
			 			</foreach>
			 		</when>
				 	<otherwise> between
			 			<foreach collection="PSIZE" item="item" separator="and">
			 				#{item}	
			 			</foreach>
			 		</otherwise>
			 	</choose>
			</if>
			<if test="PCOLOR!=null">and pColor in 
				 <foreach collection="PCOLOR" item="item" open="(" close=")"  separator=",">
			 		#{item}	
			 	</foreach>
			</if>
			<if test="MIN_PRICE!=null">
				<foreach collection="MIN_PRICE" item="item" >
					and m.pPrice > to_number(#{item})
				</foreach>
			</if>
			<if test="MAX_PRICE!=null">
				<foreach collection="MAX_PRICE" item="item" >
					and m.pPrice &lt; to_number(#{item})
				</foreach>
			</if>
			<if test="DELIVERFEE_YN!=null">and deliverFee_YN = #{deliverFee_YN}</if>
			<if test="PCODE!=null">and p.pcode = #{PCODE}</if>
		order by to_number(p.pcode)
	</select>
	
	
<!-- 	DML -->
	<insert id="updateProducts" parameterType="hashmap">
		  merge into stock s
 		  using
 		  	<foreach collection="list" item="item"  open="(" close=")" separator="union"> 
 		  		select scode, 
 		  			<choose>
 		  				<when test="item.DIFFER!=null">#{item.DIFFER}</when>
 		  				<otherwise>	#{item.PAMOUNT} </otherwise>  
 		  			</choose> pamount
 		  		from stock where scode = #{item.SCODE}
            </foreach>	 
            	 e
    	  on (s.scode = e.scode)
    	  when matched then 
       	  update set s.pamount = 
       	  <choose>
       	  		<when test="direction!=null">
       	  			s.pamount 
		 			 <choose>
		 					<when test="direction=='minus'">-</when>
		  					<when test="direction=='plus'">+</when>		  
		  			</choose>
		   			e.pamount
		   		</when>
		   </choose>
	</insert>
	
</mapper>