@charset "UTF-8";
/*font-library*/
@import url("/null/Content/configuration/font/fonts.css");

.body.cart *{box-sizing: border-box;}

/*  컨테이너 공통설정 */
.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
	position: relative;
	
	width:100%;
	border:1px soild black;
}
/* 콘텐트 공통 설정 */
.content{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	align-items: center;
	
	position:relative;
	
	width:100%;
}
.content:nth-child(n+2){
	padding: 10px 0 10px;
}

	/* 컨테이너 개별 설정 */
	/* 	카트로고 */
	#cart_logo{
		height:200px;
		
		margin: 3% 0 3%;
	}
	#cart_logo>.content{
		justify-content: space-around;
	}
	#cart_logo>.content:nth-child(1){
		height:40%;
		
		font-size: 32px;
		font-weight: bold;
	}
	
	
	#cart_logo>.content:nth-child(2){
		align-content:center;
	
		height:60%; padding: 0 5% 0;	
	}
	
		.phase{
			display: inline-flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-content: center;
			justify-content: center;
			
			position:relative;
		
			height: 80%;
			width: 20%;
			
			z-index: 1;
			
			font-size: 13px;
			font-weight: bold;
			color:gray;
		}
				
		.phase:nth-child(2){color: black;}
		.phase:nth-child(4){width: 7%;}
			
		.phase>.img{
			display:flex;
			align-items:center;
			justify-content:center;
					
			position:relative;
		
			width: 35%;
			height: 100%;
			
			margin-right:5%;
			
			background-repeat:no-repeat;
			background-size: 100% auto;
			background-position: center;
			
		}
		
		.phase:nth-child(n)>.img{background-image: url("/null/Content/img/cart/gray_round.png");}
		.phase:nth-child(2)>.img{background-image: url("/null/Content/img/cart/yellow_round.png");}
		.phase:nth-child(4)>.img{width: 100%;}

			.phase>.img>img{
			
				width: 80%;
				height: auto;
			}
		
		
		.phase>.text{
			width: 60%;
			height: auto;
			
			margin: 5% 0 5%;
		}
		
		#cart_logo #line{
			position: absolute;
			top:50%;
			
			height: 1px;
			width: 80%;
			
			background: #bfbfbf;
			z-index: 0;
		}
	
	
	/* 	카트 리스트 */
	#cart_list{
		height:auto;
		
		margin: 50px 0 30px;
		
		font-size: 15px;
	}
	#cart_list>.content{
		justify-content: flex-start;
		
		border-top: 1px solid #d9cbcb;
		
		font-size: 12px;
	}
	#cart_list>.content:nth-child(1){
		height:50px;
		
		background-color: #f8f8f8;
	}
	#cart_list>.content:nth-child(n+2){height:auto;}
	#cart_list>.content:last-child{border-bottom: 1px solid #d9cbcb;}

	#cart_list>.content:last-child>div:last-child{justify-content:flex-start;}
	
	/* 	선택적 상품 삭제 */
	#cart_list>.content:last-child #optional_delete{
		display:inline-flex;
		align-items:center;
		justify-content:center;
		
		height: 75%;
		width: 10%;
		
		border: 1px solid #d9cbcb;
		cursor: pointer;
	}
	#cart_list>.content:last-child #optional_delete:hover{
		color:  red;
		border: 1px solid #ff3333;
	}
		
		/* 	컨텐츠 내용 */
		#cart_list>.content>div{
			text-align: center;
		}
		#cart_list>.content>div:nth-child(1){flex:20;}
		#cart_list>.content>div:nth-child(2){flex:80;}

		#cart_list>.content>.calc>div{width:25%;}
			
			#cart_list>.content>.calc>div>div:nth-child(6n+1){width:25%;}
			#cart_list>.content:nth-child(n+2)>.calc>.group>div:nth-child(4n+1){
				padding-left:45px;
				
				text-align: left;
			}
			#cart_list>.content>.calc>div>div:nth-child(6n+2){width:25%}
			#cart_list>.content>.calc>div>div:nth-child(6n+3){width:25%}
			#cart_list>.content>.calc>div>div:nth-child(6n+4){width:25%}
		
			#cart_list>.content>.calc>.group{width:100%;}
		

		/* 	옵션변경버튼 */
		#cart_list .item{
			position: relative;
		}
		
		#cart_list>.content:nth-child(n+2) .item{padding-top:10px;}
		
		#cart_list .revision{
			position:absolute;
			left:0;right:0;
			top:170%;
		
			width:30px;
			height: 20px;line-height:20px;
			
			margin:auto;
			
			color:white;
			background-color: #ff6565;		
			
			cursor: pointer;
		}
		#cart_list .revision:hover{
			border: 1px solid #ff6565;
		}
		
		/* calc */
		#cart_list .calc{
			display: inline-flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-content: flex-start;
			
			height: auto;
		}
		#cart_list .calc>div{
			display: inline-flex;
			flex-direction: row;
			align-content: flex-end;
			justify-content:center;
			
			height: auto;
		}
		
		
		
		/* 	상품명/옵션 */
		.content .item{
			
		}
		.group .option{
			position:relative;
	
		}
			.option .cno{display: none;}
			.option .quak{
				position: absolute;
				top:0;right:0;
				
				width:6%;height: 80%;
				
				border:1px solid black;
				
				background-image: url("/null/Content/img/common/x.png");
				background-repeat: no-repeat;
				background-size: contain;
				
				cursor: pointer;
			}
			.option .quak:hover{
				background-image: url("/null/Content/img/common/red_x.png");
				border:1px solid #ff3333;
			}
		
		/* 수량 */
		.group>.count{
			position: relative;
			height: 15px;
		}
		.group>.count>div{
			display: inline-flex;
			flex-direction: column;
		
			position: absolute;
			
			width:20%;
		}
			/* 수량 수치  */
			.group>.count>.figure{
				width: 30%;
				left:35%;
				align-items: center;	
			}
		
		/* 	판매가 */
		.content .cell, .content .decart{font-weight: bold;}
		/* 수학부호 */
		.math{position: absolute;}
		.math.multi{right:40%;}
		.math.equal{right:20%;}
		
		
	
		/* 소합계 */
		.content .sum{
			display:flex;
			align-items: center;
			justify-content: flex-end;
			
			position: relative;
			
			width: 100%;
			height: 20px;
			
			margin-top: 5px;
		}
		.content .sum>div:first-child{
			position:absolute;
			right:16%;top:10px;
		}
		.content .sum>div:last-child{
			position:absolute;
			right: 15%;top:2px;
			
			width:63%;
			height: 3px;

			background-image: url("/null/Content/img/cart/wave-line.png");
			background-size: 5% 100%;		
		}
		
	/* 	합계 및 결제 */
	#cart_total{
		height:60px;
		margin-bottom:30px;
	}
	#cart_total>.content{
		justify-content: space-around;
	}
	#cart_total>.content:nth-child(1){
		height:100%;
			
		border: 1px solid black;
	}

		/* 가격창 */
		#cart_total>.content:nth-child(1)>div{
			display: inline-flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			
			position: relative;
			
			height:100%;
			
			border: 1px solid gray;
		}
		
		#cart_total>.content:nth-child(1)>div:nth-child(1){width:30%}
		#cart_total>.content:nth-child(1)>div:nth-child(2){width:30%}
		#cart_total>.content:nth-child(1)>div:nth-child(3){width:40%}
		
		#cart_total>.content:nth-child(1)>div>div{	
			font-family:Maplestroy;
			font-size:15px;
			font-weight: bolder;
		}
		#cart_total>.content:nth-child(1)>div>div:nth-child(1){
			margin-left:30px;
		}
		#cart_total>.content:nth-child(1)>div>div:nth-child(2){
			font-size:20px;
			margin-right:30px;
		}
		#cart_total>.content:nth-child(1)>div>div:nth-child(3){
			position: absolute;
			top:15%;right:0;
				
			transform:translateX(55%);
			
			height: 15px;
			width: 15px;
			
			background-image:url("/null/Content/img/cart/plus2.png");
			background-repeat: no-repeat;
			background-size: contain;
			
			z-index: 10;
		}
		
	#cart_total>.content:nth-child(2){
		justify-content: center;
		height:70%;
	}	
	
	#cart_total>.content:nth-child(2)>div{
		display: inline-flex;
		align-items: center;
		justify-content:center;
		
		width: 20%;
		height: 35%;
		
		border: 1px solid red;
		
		font-family: Maplestroy;
		font-size: 20px;
		font-weight: bold;
		color: red;	
		
		cursor:pointer;
	}
	
	#cart_total>.content:nth-child(2)>div:nth-child(1){
		width: 15%;
		border: 1px solid gray;
		color: gray;			
	}
	#cart_total>.content:nth-child(2)>div:nth-child(2){margin: 0 20px 0 20px}
	
	
/* **************결제창 *********************/