@charset "UTF-8";
#body{
	position: relative;
	display: inline-flex;
	flex-direction: column;
	vertical-align: top;
}
#body_title{
	position: absolute;
	display: inline-flex;
	width:900px;
	height: 50px;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	
}
#body_top{
	display: inline-flex;
	position: absolute;
	width:900px;
	height: 200px;
	top: 50px;
	flex-direction: row;
	align-items: center;
	border-top: 1px solid #EAEAEA;
	background-color: #F6F6F6;
}
.body_top_content{
	margin: 20px;
	font-size: 14px;
	font-weight: bold;
}
#body_middle{
	display: inline-flex;
	position: absolute;
	width:900px;
	top: 300px;
	flex-direction: column;
	border-top: 1px solid red;
}
.body_middle_content{
	display: inline-flex;
	flex-direction: row;
	height: 50px;
	align-items: center;
	box-sizing: border-box;
	border-bottom: 1px solid #EAEAEA;
}
.body_middle_title{
	display: inline-flex;
	font-size: 14px;
	font-weight: bold;
	width: 150px;
	margin: 10px;
}
#btn{
	display: inline-flex;
	height: 80px;
	justify-content: center;
}