@charset "UTF-8";
#top_body{
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid red;
	height: 100px;
}

#body{
	display: flex;
	box-sizing: border-box;
	border-top: 1px solid #EAEAEA;
}

#body_left{
	display: inline-flex;
	width: 150px;
	flex-grow: 1;
	border-right:1px solid red;
}
/*left.jspì˜ summary */

summary{
	font-size: 20px;
	font-weight: bold;
}
.left_content{
	font-size: 18px;
	font-weight: bold;
	padding-left: 40px;
}
.left_content>a{
	text-decoration: none;
}

#body_content{
	display: inline-flex;
	flex-grow: 9;
	flex-direction: column;
}
#body_content>div:nth-child(1){
	display: flex;
	height: 100px;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 1px solid #EAEAEA;
}
tr{
	font-size: 30px;
	font-weight: bold;
}
.content_title{
	display: flex;
	align-items: center;
	padding-left: 20px;
}
.content_input{
	display: flex;
	padding-left: 20px;
	align-items: center;
}
input[type=text],input[type=select],input[type=radio]{
	
}
#checkpcode{
	font-size: 18px;
	font-weight: bold;
	background-color: red;
	height: 25pt;
	width: 40pt;
}

input[type=submit]{
	width: 60pt;
	height: 30pt;
	font-size: 20px;
	font-weight: bold;
	background-color: red;
}
