@charset "UTF-8";
#top_body{
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid red;
	height: 100px;
}

#body{
	display: flex;
	box-sizing: border-box;
	border-top: 1px solid #EAEAEA;
	background-color: #F6F6F6;
}

#body_left{
	display: inline-flex;
	width: 150px;
	flex-grow: 1;
	border-right:1px solid red;
	background-color: white;
	border-top: none;
}
/*left.jspì˜ summary */

summary{
	font-size: 20px;
	font-weight: bold;
}
.left_content{
	font-size: 18px;
	font-weight: bold;
	padding-left: 40px;
}
.left_content>a{
	text-decoration: none;
}

#body_content{
	display: inline-flex;
	flex-grow: 9;
	flex-direction: column;
}
#body_content>div:nth-child(1){
	display: flex;
	height: 100px;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 1px solid #EAEAEA;
}
tr{
	font-size: 30px;
	font-weight: bold;
}
.content_title{
	display: flex;
	align-items: center;
	padding-left: 20px;
}
.content_input{
	display: flex;
	padding-left: 20px;
	align-items: center;
}
input[type=text],input[type=select],input[type=radio]{
	
}
#checkpcode{
	font-size: 18px;
	font-weight: bold;
	background-color: red;
	height: 25pt;
	width: 40pt;
}

input[type=submit]{
	width: 60pt;
	height: 30pt;
	font-size: 20px;
	font-weight: bold;
	background-color: red;
}
/*
pup css
*/
* /* {
  margin: 0;
  padding: 0;
}

body {
  margin: 100px;
} */

.pop-layer .pop-container {
  padding: 20px 25px;
}

.pop-layer p.ctxt {
  color: #666;
  line-height: 25px;
}

.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}

.pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 410px;
  height: auto;
  background-color: #fff;
  border: 5px solid #3571B5;
  z-index: 10;
}

.dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
  display: block;
}

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

a.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}